{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="w-100 mt-3 mb-3">
    <h1 class="text-right text-primary">About</h1>
    <ul class="nav nav-tabs bg-default border-bottom border-info">
        <li class="nav-item border-info">
            <a class="nav-link active" data-toggle="tab" href="#abstract">Abstract</a>
        </li>
        <li class="nav-item border-info">
            <a class="nav-link" data-toggle="tab" href="#annotations">Available Annotations</a>
        </li>
        <li class="nav-item border-info">
            <a class="nav-link" data-toggle="tab" href="#source">Source Code</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="abstract">
            {% include "about/abstract.html" %}
        </div>
        <div class="tab-pane fade" id="annotations">
            {% include "about/annotations.html" %}
        </div>
        <div class="tab-pane fade" id="source">
            {% include "about/source.html" %}
        </div>
    </div>
    <hr class="my-2">
</div>

{% endblock %}
