  <p class="text-justify mt-3">Understanding the functional consequences of genomic variants relies on
  multiple lines of evidences. These include among the others the allele
  frequency of the variant in a healthy population, the predicted effect on the
  protein, the presence in knowledge bases such as CIViC or ClinVar. While
  using these criteria some variants can be classified either as benign or
  disease-causing, in many cases available evidences at the time of analysis
  are not sufficient to support the classification of the variant. And the
  number of variants of uncertain significance (VUS) is increasing due to the
  advances in NGS technology that increase the yield of genetic testing. In
  practice the higher resolution of NGS testing has produced a greater burden
  of uncertain results. Variant reinterpretation based on the availability of
  updated annotations is part of the routine work of research laboratories. In
  fact, more data are collected about a specific variant, higher the
  probability to reinterpret the unclassified variant. This task is time
  consuming as requires the access to multiple sources of information (e.g.
  software, knowledge bases, literature), which are constantly updated.</p>

  <p class="text-justify">To support the interpretation of genetic variants, we developed
  <span class="text-primary">VariantAlert</span>, a
  web-based tool to help researchers and clinicians to keep informed about
  changes in variant annotations extracted from multiple sources.
    A user can submit one or more lists of variants which are
  daily re-annotated using external resources accessed through API, such
  as <a class="link" target="_blank" href="https://myvariant.info/">MyVariant.info</a>
    annotation API providing links to variant annotations from
  gnomad, COSMIC, ClinVar, CIViC, and many others.</p>

  <p class="text-justify">If a change is
  detected for the annotation of a variant due to the upgrade of the underlying
  resource (e.g. change in gnomad allele frequency, presence in COSMIC
  database, change in ClinVar classification) the user is notified by email and
  updated annotations are stored on the web-site. Conclusions We expect that
  <span class="text-primary">VariantAlert</span> will contribute to the interpretation of genetic variants and
  their classification by keeping the researchers constantly informed of the
  current content of multiple annotation databases.</p>