<p class="lead text-info">&nbsp;</p>
<p class="text-justify">Annotations are accessed through <a class="link" target="_blank"
                                                            href="https://myvariant.info/">MyVariant.info</a>
    web service which includes annotations from the following sources:</p>
<div class="row">
    <div class="col-sm-6">
        <div class="card border-info my-3" style="max-width: 40rem;height:20rem;">
            <div class="card-header text-primary">hg19</div>
            <div class="card-body">
                <div class="card-text row">
                    <div class="col-sm-4">dbNSFP</div>
                    <div class="col-sm-4">dbSNP</div>
                    <div class="col-sm-4">ClinVar</div>
                </div>
                <div class="card-text row">
                    <div class="col-sm-4">EVS</div>
                    <div class="col-sm-4">CADD</div>
                    <div class="col-sm-4">MutDB</div>
                </div>
                <div class="card-text row">
                    <div class="col-sm-4">GWAS Catalog</div>
                    <div class="col-sm-4">COSMIC</div>
                    <div class="col-sm-4">DOCM</div>
                </div>
                <div class="card-text row">
                    <div class="col-sm-4">SNPedia</div>
                    <div class="col-sm-4">EMVClass</div>
                    <div class="col-sm-4">Scripps Wellderly</div>
                </div>
                <div class="card-text row">
                    <div class="col-sm-4">EXAC</div>
                    <div class="col-sm-4">GRASP</div>
                    <div class="col-sm-4">UniProt</div>
                </div>
                <div class="card-text row">
                    <div class="col-sm-4">CIViC</div>
                    <div class="col-sm-4">Geno2MP</div>
                </div>
                <div class="card-text row">
                    <div class="col-sm-12">genome Aggregation Database - exome</div>

                </div>
                <div class="card-text row">
                    <div class="col-sm-12">genome Aggregation Database - genome</div>
                </div>
                <div class="card-text row">
                    <div class="col-sm-12">Cancer Genome Interpreter</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-info my-3" style="max-width: 40rem; height:20rem;">
            <div class="card-header text-primary">hg38</div>
            <div class="card-body">
                <div class="card-text row">
                    <div class="col-sm-4">dbNSFP</div>
                    <div class="col-sm-4">dbSNP</div>
                    <div class="col-sm-4">ClinVar</div>
                </div>
                <div class="card-text row">
                    <div class="col-sm-4">EVS</div>
                    <div class="col-sm-8">UniProt</div>
                </div>
                <div class="card-text row">
                    <div class="col-sm-12">genome Aggregation Database - exome</div>

                </div>
                <div class="card-text row">
                    <div class="col-sm-12">genome Aggregation Database - genome</div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="mt-1 text-justify">Visit <a class="link" target="_blank"
                                      href="https://docs.myvariant.info/en/latest/doc/data.html">https://docs.myvariant.info/en/latest/doc/data.html</a> for more details.</p>

