<!doctype html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/spacelab/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sZG5VVk41YqhJjYXgJFoRVd3d2AdDgy4oyIytQJMGx/Mizz1N+5bgKQBSCGfKQnP" crossorigin="anonymous">

    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.0/dist/bootstrap-table.min.css">

    <link rel='stylesheet' href="{% static 'css/default.css' %}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.0/dist/bootstrap-table.min.js"></script>

    <script type="text/javascript" src="{% static 'js/default.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/underscore.js' %}"></script>

    <title>Variant Alert</title>
</head>
<header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <span class="navbar-brand">VariantAlert</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pl-5 ml-5" id="navbarColor01">
            <ul class="navbar-nav ml-5">
                <li class="nav-item {% if request.path == '/' %} active {% endif %}">
                    <a href="{% url 'home' %}" class="nav-link" onclick="showModal();" >Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                       href="#" id="variants">Variants<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="variants">
                        <a class="dropdown-item {% if 'query' in request.path %} active {% endif%}"
                           href="{% url 'query' %}" onclick="showModal();"><small>Add new</small></a>
                        <a class="dropdown-item {% if 'history' in request.path and not request.GET.show %} active {% endif%}"
                           href="{% url 'history' %}" onclick="showModal();"><small>Show all</small></a>
                        <a class="dropdown-item {%if request.GET and request.GET.show  %} active {% endif%}"
                           href="{% url 'history'%}?show=only_alerts" onclick="showModal();" ><small>Alerts</small></a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item {% if 'about' in request.path %} active {% endif%}">
                    <a class="nav-link" href="{% url 'about' %}" onclick="showModal();" >About</a>
                </li>
                <li class="nav-item {% if 'contacts' in request.path %} active {% endif%}">
                    <a class="nav-link" href="{% url 'contacts' %}" onclick="showModal();" >Contacts</a>
                </li>
            </ul>
        </div>
        {% if user.is_authenticated %}
        <span class="navbar-brand"><small>Hi, {{ user.username }}!</small></span>
            <div class="form-inline my-2 my-lg-0">
                <a class="btn btn-sm btn-danger my-2 my-sm-0 border-light{% if 'logout' in request.path %} active {% endif %}"
                   href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="form-inline my-2 my-lg-0">
                <a class="btn btn-sm btn-success my-2 my-sm-0 border-light{% if 'login' in request.path %} active {% endif %}"
                   href="{% url 'login' %}">Login</a>
                <span class="text-white ml-3 mr-3">or</span>
                <a class="btn btn-sm btn-success my-2 my-sm-0 border-light {% if 'signup' in request.path %} active {% endif %}"
                   href="{% url 'signup' %}">Sign Up</a>
            </div>
        {% endif %}
    </nav>
</header>
<body>
<div id="variant-alert" class="container small">
    <div class="row justify-content-center mt-5">
        {% block content %}(no content){% endblock %}
    </div>
    <div class="row justify-content-center">
        <img src="{% static 'images/CRS4-colori-small.png' %}">
    </div>
    <div class="row justify-content-center mt-2 mb-2">
        <small>Powered by <a class="link" target="_blank"
                             href="https://myvariant-py.readthedocs.io/en/latest">MyVariant.py</a></small>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="spinnerModal">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="modal-body">
            <h1 class="text-white">Wait while loading...</h1>
            <div class="spinner-border text-info"
                 style="width: 5rem; height: 5rem;"
                 role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <h3 class="text-white">It may take a long time</h3>
        </div>
    </div>
</div>
<script>
    hideModal();
</script>


</body>
</html>
