{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron mt-5 p-5">
    <h1 class="display-3 text-center text-primary">VariantAlert</h1>
    <p class="lead text-center">a tool to notify updates in genetic variant annotations</p>
    <hr class="my-2">
    <p class="text-justify"><span class="text-primary">VariantAlert</span> is a free service that annotates
        variants
        provided by the user using multiple variant annotation databases.</p>
    <p class="text-justify">To keep users informed about updates, the annotation is repeated daily and if a change
        is detected the user is notified by email.</p>
    <p class="text-justify"><span class="text-primary">VariantAlert</span> is developed and is hosted
        by <a class="link" target="_blank" href="http://www.crs4.it/">CRS4</a>, Italy.</p><br>
    <p class="lead text-primary">How to cite VariantAlert</p>
    <p class="text-justify">To reference <span class="text-primary">VariantAlert</span> in your work,
        please cite: <br><br>
        Atzeni, R., Massidda, M., Fotia, G., & Uva, P. (2022). <br>
        <span class="font-italic">VariantAlert: A web-based tool to notify updates in genetic variant annotations.</span><br>
        Human Mutation, 1– 8. <a class="link" target="_blank" href="https://doi.org/10.1002/humu.24495">https://doi.org/10.1002/humu.24495</a>
    </p><br>
    <p class="lead text-primary">Disclaimer</p>
    <p class="text-justify">This service is free and comes with <strong>ABSOLUTELY NO WARRANTY</strong>.</p><br>
</div>
{% endblock %}
