{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron mt-5 p-5">
    <h1 class="display-3 text-center text-primary">VariantAlert</h1>
    <p class="lead text-center">a tool to notify updates in genetic variant annotations</p>
    <hr class="my-2">
    <p class="text-justify"><span class="text-primary">VariantAlert</span> is a free service that annotates
        variants
        provided by the user using multiple variant annotation databases.</p>
    <p class="text-justify">To keep users informed about updates, the annotation is repeated daily and if a change
        is detected the user is notified by email.</p>
    <p class="text-justify"><span class="text-primary">VariantAlert</span> is developed and is hosted
        by <a class="link" target="_blank" href="http://www.crs4.it/">CRS4</a>, Italy.</p><br>
    <p class="lead text-primary">How to cite VariantAlert</p>
    <p class="text-justify">To reference <span class="text-primary">VariantAlert</span> in your work,
        please cite the <code>"http://variant-alert.crs4.it"</code> URL.</p><br>
    <p class="lead text-primary">Disclaimer</p>
    <p class="text-justify">This service is free and comes with <strong>ABSOLUTELY NO WARRANTY</strong>.</p><br>
    <p class="text-center text-warning">Please note that the current version of <span class="text-primary">VariantAlert</span>
        is released as beta version for further testing before the stable release.</p>
</div>
{% endblock %}
