{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card border-primary mt-5 mb-3" style="width:30rem;">
    <div class="card-header bg-primary">
        <h4 class="text-white">Login</h4>
    </div>
    <div class="card-body">
        <div class="card-text">
            <form method="post">
                {% csrf_token %}

                    {% for field in form %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text border border-info">
                                    <i class="fas
                                    {% if field.id_for_label == 'id_password' %}fa-lock{% else %}fa-user{% endif %}"></i>
                                </span>
                            </div>
                            <input type="{% if field.id_for_label == 'id_password' %}password{% else  %}text{% endif %}"
                                   class="form-control border-info" id="{{ field.id_for_label }}"
                                   placeholder="{{field.label}}" name="{{ field.name }}">
                            {% if field.help_text %}
                            <small class="text-warning">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Please, be careful!</strong> {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                <div class="row">
                    <div class="col-sm-9">&nbsp;</div>
                    <div class="col-sm-3">
                        <button class="btn btn-outline-success btn-block" type="submit">Login</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="card-footer">

            <div class="row">
                <div class="col-sm-8">
                    <a class="btn btn-primary" href="{% url 'password_reset' %}">Reset/Change Password</a>
                </div>
                <div class="col-sm-4">&nbsp;</div>
            </div>

    </div>
</div>
{% endblock %}

