{% extends 'base.html' %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}
<div class="card border-primary mt-5 mb-3" style="width:40rem;">
    <div class="card-header bg-primary">
        <h4 class="text-white">Password Reset Sent</h4>
    </div>
    <div class="card-body">
        <div class="card-text text-justify text-info">
           <p class="lead">
               We've emailed you instructions for setting your password,
               if an account exists with the email you entered.
           </p>
            <p class="lead">
                You should receive them shortly.
           </p>
        </div>
    </div>
    <div class="card-header text-warning">
        <p>If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.</p>
    </div>

</div>
{% endblock %}
