<!-- templates/variants/delete.html -->
{% extends 'base.html' %}
{% block title %}Delete{% endblock %}

{% block content %}
{% if deleted %}
<script>
    url = '{% url 'history' %}';
    goto(url);
</script>
{% else %}

<div class="alert alert-dismissible alert-danger my-5" style="width:100rem">
    <p class="mb-2">
    <h1>OPS! Error while deleting query!</h1>
    </p>
    <p class="my-5 text-center">
        <h2 class="text-center">
            <a href="{% url 'history' %}">Come back to history page!</a>
        </h2>
    </p>
</div>
{% endif %}
{% endblock %}