<!-- templates/variants/details.html -->
{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block content %}
{% if request.user.id == query.user_id %}
<div class='row my-3'>
    <div class="card border-info" style="width:60rem;">
        <div class="card-header border-bottom border-info">
            <div class="row col-md-12">
                <div class="col-md-4 text-left">
                    <h6>{{ query.label }}</h6>
                    <h6>{{ query.query }}</h6>
                </div>
                <div class="col-md-4 text-center">
                    <h6>Created</h6>
                    <h6>{{ query.date }}</h6>
                </div>
                <div class="col-md-4 text-right">
                    <h6>Changed</h6>
                    <h6>{{ query.update }}</h6>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-sm text-center border border-primary">
                <tr class="table-primary">
                    <th class="border-bottom border-primary">Assembly</th>
                    <th class="border-bottom border-primary">Chromosome</th>
                    <th class="border-bottom border-primary">Position</th>
                    <th class="border-bottom border-primary">Reference</th>
                    <th class="border-bottom border-primary">Alternate</th>
                    <th class="border-bottom border-primary">Sources</th>
                </tr>
                <tr class="table-light">
                    <td>{{ query.assembly }}</td>
                    <td>{{ query.chromosome }}</td>
                    <td>{{ query.position }}</td>
                    <td>{{ query.variant_ref }}</td>
                    <td>{{ query.variant_alt }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                          <button type="button" class="btn btn-sm btn-outline-info">{{ query.fields | length }}</button>
                              <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button"
                                        class="btn btn-sm btn-outline-info dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"
                                 style="max-height:300px; overflow-y:auto;">
                                {% for f in query.fields %}
                              <span class="dropdown-item {% if forloop.counter|divisibleby:'2' %}bg-white{% else %}bg-light{% endif %}" >
                                  {{ f }}
                              </span>
                                {% endfor %}
                            </div>
                          </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="card-text border border-primary">
                <ul class="nav nav-tabs bg-light border-bottom border-primary">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#new">Current</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#old">Previous</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#diff">Difference
                            {% if query.difference %}
                                <span class="fas fa-check-circle fa-sm" aria-hidden="true"></span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">

                    <div class="tab-pane fade show active px-2 py-2" id="new">
                        {% if query.result %}
                        <table class="table table-hover table-striped border-primary table-sm mb-5"
                               data-toggle="table"
                               data-icons="icons"
                               data-buttons-align="left"
                               data-show-columns="true"
                               data-show-fullscreen="true"
                               data-buttons-class="primary"
                               data-search-align="right"
                               data-search="true">
                            <thead>
                            <tr class="table-primary border border-primary text-center">
                                <th class="bg-primary text-white border-primary" data-width="40" >&nbsp;</th>
                                <th class="bg-primary text-white border-primary">Field</th>
                                <th class="bg-primary text-white border-primary">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k,v in query.result.items %}
                            <tr class="border-primary">
                                <td class="border-primary">{{ forloop.counter }}</td>
                                <td data-sortable="true" class="border-primary">{{ k }}</td>
                                <td data-sortable="true" class="border-primary">{{ v }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                       {% else %}
                       <div class="alert alert-dismissible alert-secondary mx-2 my-2">
                            <h1><strong>Query did not return result</strong></h1>
                        </div>
                        {% endif %}
                    </div>
                   <div class="tab-pane fade px-2 py-2" id="old">
                       {% if query.previous %}
                       <table class="table table-hover table-striped border-primary table-sm mb-5"
                               data-toggle="table"
                               data-buttons-align="left"
                               data-show-columns="true"
                               data-show-fullscreen="true"
                               data-buttons-class="primary"
                               data-search-align="right"
                               data-search="true">
                            <thead>
                            <tr class="table-primary border border-primary text-center">
                                <th class="bg-primary text-white border-primary" data-width="40">&nbsp;</th>
                                <th class="bg-primary text-white border-primary">Field</th>
                                <th class="bg-primary text-white border-primary">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k,v in query.previous.items %}
                            <tr class="border-primary">
                                <td class="border-primary">{{ forloop.counter }}</td>
                                <td data-sortable="true" class="border-primary">{{ k }}</td>
                                <td data-sortable="true" class="border-primary">{{ v }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                       <div class="alert alert-dismissible alert-secondary mx-2 my-2">
                            <h1><strong>Query did not return result</strong></h1>
                        </div>
                        {% endif %}
                       </div>
                    <div class="tab-pane fade px-2 py-2" id="diff">
                        {% if query.difference %}
                       <table class="table table-hover table-striped border-primary table-sm mb-5"
                               data-toggle="table"
                               data-buttons-align="left"
                               data-show-columns="true"
                               data-show-fullscreen="true"
                               data-buttons-class="primary"
                               data-search-align="right"
                               data-search="true">
                            <thead>
                            <tr class="table-primary border border-primary text-center">
                                <th class="bg-primary text-white border-primary" data-width="40">&nbsp;</th>
                                <th class="bg-primary text-white border-primary">Field</th>
                                <th class="bg-primary text-white border-primary">Type</th>
                                <th class="bg-primary text-white border-primary">Previous</th>
                                <th class="bg-primary text-white border-primary">Current</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in query.difference %}
                            <tr class="border-primary">
                                <td class="border-primary">{{ forloop.counter }}</td>
                                <td data-sortable="true" class="border-primary">{{ d.field }}</td>
                                <td data-sortable="true" class="border-primary">{{ d.type }}</td>
                                <td data-sortable="true" class="border-primary">{{ d.previous }}</td>
                                <td data-sortable="true" class="border-primary">{{ d.current }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% else %}
                        <div class="alert alert-dismissible alert-secondary mx-2 my-2">
                            <h1><strong>Nothing is changed</strong></h1>
                        </div>
                        {% endif %}
                       </div>
                    </div>
                </div>
            </div>
            <div class="text-right my-2 mr-2">
                <button class="btn btn-sm btn-outline-primary" onclick="download('{{ query.id }}');">Download</button>
                <button class="btn btn-sm btn-outline-success" onclick="rerun('{{ query.id }}');">ReRun</button>
            </div>
        </div>
</div>
<script>
  window.icons = {
    refresh: 'ion-md-refresh',
    columns: 'fas fa-th-list',
    fullscreen: 'fas fa-expand-arrows-alt'
  }
</script>
{% else %}

<div class="alert alert-dismissible alert-danger mt-4" style="width:100rem">
    <h1 class="alert-heading">404</h1>
        <h2>OPS! Page not found!</h2>
    <h3>The page you are looking for doesn't exist:
        <a href="{% url 'home' %}">Come back home!</a>
    </h3>
</div>
{% endif %}
<div class="modal fade" tabindex="-1" role="dialog" id="spinnerModal">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="modal-body">
            <h1 class="text-white">Wait while loading...</h1>
            <div class="spinner-border text-info"
                 style="width: 5rem; height: 5rem;"
                 role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <h3 class="text-white">It may take a long time</h3>
        </div>
    </div>
</div>

{% endblock %}
