<!-- templates/variants/history.html -->
{% extends 'base.html' %}
{% load pagination_tags %}
{% load mathfilters %}
{% block title %}History{% endblock %}

{% block content %}
<div class='row mt-2 mx-auto'>
    <div class="center">

        {% if queries %}
        {% autopaginate queries 25 %}

        <div class="row">
            <table class="table table-hover table-striped table-sm mx-auto" style="width:70rem;"
                    data-toggle="table"

                    data-search-align="right"
                    data-search="true"
                    data-buttons-align="left"
                    data-show-columns="true"
                    data-show-fullscreen="true"
                    data-buttons-class="primary">
                <thead>
                <tr class="table-primary border-primary text-center table-sm">
                    <th  class="bg-primary border-bottom border-primary text-white" data-width="115" >
                                    {% if queries|length == 25 %}
                                        {% if request.GET.page %}
                                    {% widthratio queries|length 1 request.GET.page %}
                                    {% else %}
                                    {{ queries|length }}
                                    {% endif %}
                                    {% else %}

                                    {{ num_total }}
                                    {% endif %}/ {{ num_total }}

                    </th>
                    <th data-sortable="true" class="bg-primary text-white border-bottom border-primary">Label</th>
                    <th data-sortable="true" class="bg-primary text-white border-bottom border-primary">Query</th>
                    <th data-sortable="true" class="bg-primary text-white border-bottom border-primary">Assembly</th>
                    <th data-sortable="true" class="bg-primary text-white border-bottom border-primary">Created</th>
                    <th data-sortable="true" class="bg-primary text-white border-bottom border-primary">Changed</th>
                    <th data-sortable="true" class="bg-primary text-white border-bottom border-primary">Alerts</th>
                </tr>
                </thead>
                <tbody>
                {% for query in queries %}
                <tr class="text-left">
                    <td class="border-bottom border-primary" data-width="115">
                            <div class="row">
                                <div class="col-sm-1 text-primary font-weight-bold">

                                    {% if request.GET.page %}
                                    {{ request.GET.page|sub:1|mul:25|add:forloop.counter }}
                                    {% else %}
                                    {{ forloop.counter }}
                                    {% endif %}
                                </div>
                                 <div class="col-sm-1">
                                       <span class="fa fa-eye text-success"
                                             onclick="details('{{ query.id }}');"
                                             aria-hidden="true"></span>
                                </div>
                                <div class="col-sm-1">
                                       <span class="fa fa-trash text-danger"
                                             onclick="erase('{{ query.id }}');"
                                             aria-hidden="true "></span>
                                </div>
                                <div class="col-sm-1">
                                       <span class="fa fa-download text-info"
                                             onclick="download('{{ query.id }}');"
                                             aria-hidden="true"></span>
                                </div>
                            </div>



                    </td>
                    <td class="border-bottom border-primary">{{ query.label }}</td>
                    <td class="border-bottom border-primary">{{ query.query }}</td>
                    <td class="border-bottom border-primary">{{ query.assembly }}</td>
                    <td class="border-bottom border-primary">{{ query.date }}</td>
                    <td class="border-bottom border-primary">{{ query.update }}</td>
                    <td class="border-bottom border-primary text-center {% if query.difference  %}bg-primary {% endif %} my-auto">
                        <small>
                        {% if query.difference %}
                            <span class="fas fa-flag text-white" aria-hidden="true"></span>
                        {% endif %}
                        </small>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <form method="get" id="form-queries" action="">
            {% csrf_token %}
            <fieldset>
                <div class="row col-sm-12 mt-3">
                    <div class="col-sm-4 text-left">
                       <div>{% paginate %}</div>
                    </div>
                    <div class="col-sm-2">
                        <select id="search_for" name="search_for" class="custom-select custom-select-sm border-info">
                            <option value="" {%if request.GET and request.GET.search_for == "" %}selected="" {%endif%}>
                            Show all labels
                            </option>
                            {% for l in labels %}
                            <option value="{{ l }}" {%if request.GET and request.GET.search_for == l %}selected="" {%endif%}>
                                {{ l }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select id="sort_by" name="sort_by" class="custom-select custom-select-sm border-info">
                            <option value="" {%if request.GET and request.GET.sort_by == "date" %}selected="" {%endif%}>
                            Sort by Date
                            </option>
                            <option value="label"
                                    {%if request.GET and request.GET.sort_by == "label" %}selected="" {%endif%}>
                            Label (asc)
                            </option>
                            <option value="-label"
                                    {%if request.GET and request.GET.sort_by == "-label" %}selected="" {%endif%}>
                            Label (desc)
                            </option>
                            <option value="-date"
                                    {%if request.GET and request.GET.sort_by == "-date" %}selected="" {%endif%}>
                            Date (desc)
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select id="show" name="show" class="custom-select custom-select-sm border-info">
                            <option value=""
                                    {%if request.GET and request.GET.show == "" %}selected="" {%endif%}>
                            Show all
                            </option>
                            <option value="only_alerts"
                                    {%if request.GET and request.GET.show == "only_alerts" %}selected="" {%endif%}>
                            Only alerts
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2 text-right">
                        <button class="btn btn-sm   btn-outline-success"
                                onclick="apply_filter();">Apply Filters
                        </button>
                    </div>

                </div>
            </fieldset>
        </form>

            {% else %}
            <div class="alert alert-dismissible alert-info" style="width:70rem">
                <h1 class="alert-heading">Warning!</h1>
                <p class="mb-0">
                <h3> {% if request.GET and request.GET.show == "only_alerts" %}No alert is reported{% else %}You have
                    not saved any queries for the moment{% endif %}</h3></p>
            </div>
            {% endif %}
        <hr class="my-2">
        </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="spinnerModal">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="modal-body">
            <h1 class="text-white">Wait while loading...</h1>
            <div class="spinner-border text-info"
                 style="width: 5rem; height: 5rem;"
                 role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <h3 class="text-white">It may take a long time</h3>
        </div>
    </div>
</div>
{% endblock %}
