<!-- templates/variants/query.html -->
{% extends 'base.html' %}

{% block title %}Query{% endblock %}

{% block content %}
<div class="w-100 mt-3 mb-5" >
    <form method="post" id="form-query"  enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <ul class="nav nav-tabs bg-default border-bottom border-info mt-3">
                <li class="nav-item border-info">
                    <a class="nav-link {% if not form.csv_label.errors and not form.csv_file.errors %}active{% endif %}" data-toggle="tab" href="#single">Single</a>
                </li>
                <li class="nav-item border-info">
                    <a class="nav-link {% if form.csv_label.errors or form.csv_file.errors %}active{% endif %}"
                       data-toggle="tab" href="#multiples">Multiple</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade {% if not form.csv_label.errors and not form.csv_file.errors %}show active{% endif %}" id="single">
                    {% include "variants/query.single.html" %}
                </div>
                <div class="tab-pane fade {% if form.csv_label.errors or form.csv_file.errors %}show active{% endif %}" id="multiples">
                    {% include "variants/query.multiples.html" %}
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-4">
                    <label class=" text-primary" for="sources">
                        Select sources for annotation:</label>
                    <select class="selectpicker show-tick form-control"
                            name="sources" id="sources"
                            multiple="multiple"
                            data-live-search="true"
                            data-dropup-auto="true"
                            data-selected-text-format="count > 3"
                            multiple data-actions-box="true"
                            data-size="5"
                            data-style="btn-outline-info">
                        {% for s in sources %}
                        {% if s != '_seqhashed' %}
                        <option value="{{ s }}">{{ s }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                    {% for error in form.sources.errors %}
                    <div class="alert alert-dismissible alert-danger mt-2">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Please, be careful!</strong><br>{{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-7">
                   &nbsp;
                </div>
                <div class="col-sm-1 mt-5 text-right">
                    <button class="btn btn-outline-success btn-block " onclick="run();">Run</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
hideModal();
</script>
<script>
    $(document).ready(function(){
        $("#sources").change(function() {
            console.log($("#{{ form.sources.id_for_label }}").val());

        });
        $("#sources").selectpicker('selectAll');


    });
</script>

{% endblock %}
