{% extends 'base.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}
<div class="w-100 mb-4 mt-3" >
    <h1 class="text-right text-primary">Contacts</h1>
    <hr class="my-4">
    <p class="lead"><span class="text-primary">VariantAlert</span> is developed by
        <a class="link" target="_blank"
           href="http://www.crs4.it/research/biosciences">Biosciences group at CRS4, Italy.</a>
    </p>
    <p class="lead">For bug reports or feature request:
        <ul>
            <li><span class="lead">open an issue in GitHub at
            <a class="link" target="_blank"
               href="https://github.com/next-crs4/VariantAlert/issues">https://github.com/next-crs4/VariantAlert/issues</a>
            <span class="text-secondary">(preferred)</span></span>
            </li>
            <li class="mt-2"><span class="lead">write an e-mail to <code>{paolo.uva, rossano.atzeni}@crs4.it</code></span>
            </li>
        </ul>
    </p>


    <p class="lead">Related links:
        <ul>
            <li>
                <span class="lead">VariantAlert on Github:
                    <a class="link" target="_blank"
                       href="https://github.com/next-crs4/VariantAlert">https://github.com/next-crs4/VariantAlert</a>
                </span>
            </li>
            <li class="mt-2">
                <span class="lead">Our collection of validated bioinformatic pipelines:
                    <a class="link" target="_blank"
                       href="https://github.com/solida-core">https://github.com/solida-core</a>
                </span>
            </li>
            <li class="mt-2">
                <span class="lead">Next Generation Sequencing platform at CRS4:
                    <a class="link" target="_blank"
                       href="http://next.crs4.it">http://next.crs4.it</a>
                </span>
            </li>
        </ul>
    </p>
</div>
{% endblock %}