<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="card border-primary mt-5 mb-5" style="width:30rem;">
    <div class="card-header bg-primary">
        <h4 class="text-white">Sign Up</h4>
    </div>
    <div class="card-body">
        <div class="card-text">
            <form method="post">
                {% csrf_token %}
                <div style="padding-left:2rem;">{% for field in form %}
                    <div class="form-group">
                        <span class="text-primary">{{ field.label_tag }}</span>
                        {{ field.widget }}
                        <input type="{% if field.id_for_label|slice:':11' == 'id_password' %}password{% else  %}text{% endif %}"
                               class="form-control form-control-sm border-info" name="{{ field.name }}"
                               id="{{ field.id_for_label }}">
                        {% if field.help_text %}
                        <small class="text-warning">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Please, be careful!</strong> {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <button class="btn btn-outline-success" type="submit">Sign Up</button>
            </form>
        </div>
        </form>
    </div>
</div>
{% endblock %} 
