<!-- templates/update.html -->
{% extends 'base.html' %}

{% block title %}Edit user{% endblock %}

{% block content %}


{% if request.user.id == user.id %}

<div class="card border-primary mt-5 mb-5" style="width:30rem;">
    <div class="card-header bg-primary">
        <h4 class="text-white">Edit user</h4>
    </div>
    <div class="card-body {% if request.user.id != user.id %}bg-danger{%endif%}">
        <div class="card-text">


            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.id_for_label|slice:':11' != 'id_password' %}
                        <span class="text-primary">{{ field.label_tag }}</span>
                        {{ field.widget }}
                        <input type="text"
                               value="{{ field.value }}"
                               class="form-control form-control border-info" name="{{ field.name }}"
                               data-toggle="tooltip" data-placement="top" title="{{ field.help_text }}"
                               id="{{ field.id_for_label }}">
                        {% for error in field.errors %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Please, be careful!</strong> {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    {% endfor %}
                <div class="row">
                    <div class="col-sm-9">&nbsp;</div>
                    <div class="col-sm-3">
                        <button class="btn btn-outline-success btn-block" type="submit">Update</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
 {% else %}
<div class="alert alert-dismissible alert-danger mt-5 mb-5" style="width:100rem">
    <h1 class="alert-heading">404</h1>
    <h2>OPS! Page not found!</h2>
    <h3>The page you are looking for doesn't exist:
        <a href="{% url 'home' %}">Come back home!</a>
    </h3>
</div>
{% endif %}
<div class="modal fade" tabindex="-1" role="dialog" id="spinnerModal">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="modal-body">
            <h1 class="text-white">Wait while loading...</h1>
            <div class="spinner-border text-info"
                 style="width: 5rem; height: 5rem;"
                 role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <h3 class="text-white">It may take a long time</h3>
        </div>
    </div>
</div>

{% endblock %}
